.text-block
    .container.container--content
        p.text-block__paragraph
            != "Hello. I'm John Doe 25 years old <span class='text-block__part-green'>Graphic Designer</span> specialize in <span class='text-block__part-green'>mobile apps</span> from Warsaw, Poland"