.contact
    .container.container--content
        .contact__title-wrap
            h2.contact__title Contact
        .contact__info-wrap
            p.contact__info
                | You can reach me for an inquiry  or just to say hello
            a.contact__link(href='mailto:imawesome@johndoe.co') imawesome@johndoe.co